.head-sectione {
    border-bottom: 1px solid #ECECEC;
}

.head-sectione__logo {
    color: var(--logo-bl-color);
    font-family: 'Raleway', sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.head-sectione__logo--accsent {
    color: $accsent-color;
}